# Directories to ignore
code/trained_models/*
datasets/*
results/*
tests/*
jupyter/*
tex/*
assets/volume_tests/*
deprecated/*

# Filetypes to ignore
*.pyc
*.pfm
*.ply
*.h5
*.hdf5

# Files to NOT ignore
!*.gitkeep
!jupyter/visualize_volume_estimation.ipynb
!tex/readme.pdf

