# Directories to ignore
code/trained_models/*
datasets/EPIC_KITCHENS_2018/*
datasets/KITTI/*
datasets/PFID_Stereo_Images/*
results/*
tests/*
jupyter/*
tex/*
assets/volume_tests/*

# Filetypes to ignore
*.pyc
*.pfm
*.ply
*.h5
*.hdf5

# Filetypes to NOT ignore
!*.gitkeep
!datasets/EPIC_KITCHENS_2018/config.json
!datasets/EPIC_KITCHENS_2018/data_sources
!jupyter/visualize_volume_estimation.ipynb

# Extras
